 body{
		background-color:whitesmoke;
	}
	input[type=text]{
		background:red;
	}
	.txtColor{
		background:blue!important;
	}
	#txtColor2{
		padding:50px;
	}
	body>form>input[type=password]{
		background-color:yellow;
	}